/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
.*.sw?
*.*~
.vimrc
/config/config.yml
/config/unicorn.rb
/bin
/vendor/
sandi_meter/
.rvmrc
vendor_spec/
vendor/
